@font-face {
    src: url('./fonts/B-Nazanin.TTF');
    font-family: B-Nazanin;
    font-weight: normal;
}

@font-face {
    src: url('./fonts/B-Titr-Bold.ttf');
    font-family: B-Titr;
    font-weight: normal;
}

body, div, p, input, button {
    direction: rtl;
    margin: 0;
    font-family: 'B-Nazanin', sans-serif;
    font-size: 12pt;
}

p {
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
}

#header {
    display: flex;
    margin: 50px 6% 0 6%;
}

#main {
    margin: 2% 10%;
}

.header-item {
    width: 15%;
    /*position: relative;*/
}

.header-left > img {
    float: left;
}

.header-item > img {
    height: 6.5vmax;
    /*position: absolute;
    top: 50%;
    transform: translateY(-50%);*/
}

.header-item.header-center {
    width: 70%;
    padding: 0 12px 0 12px;
    line-height: 7vmin;
    text-align: center;
	height: min-content;
    align-self: center;
}

.header-center > div {
    font-family: 'B-Titr', sans-serif;
}

#navbar {
    display: flex;
    list-style-type: none;
    margin: 0 6%;
    padding: 0;
    background-color: rgb(230, 230, 230);
}

#navbar li {
    border-bottom: 3px solid rgb(189, 189, 189);
	transition: all 0.2s ease;
}

#navbar li > a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navbar li:last-of-type {
    flex-grow: 1;
}

#navbar li:hover:not(li:last-of-type) {
    background-color: rgb(189, 189, 189);
    border-bottom: 3px solid black;
}

#navbar li.active:not(li:last-of-type) {
    background-color: rgb(200, 200, 200);
}

#demo {
    border-radius: 20px;
    height: 70vh;
    width: 100%;
    border: none;
}

#about-us > p {
    font-size: 10.5pt;
}

#about-us a {
    font-size: 9pt;
}

/*strong {
	font-weight: bold;
}*/
